:plain
  <head>
  <style type='text/css'>@media print{@page{size:A5}body{padding:0;background-color:#b0c4de}} .ss-form-container{width:100%;border:none;  background-color:#fff} .ss-form-title{text-align:left; font-size:30px} </style></head>

  <body>
  <div class="ss-form-container">
  <div class="ss-form-heading"><h1 class="ss-form-title">Thank you!</h1>
  <p></p>

  </body>