:css
  #container {background-color: #e8eef7;}
:plain
  
  
  <head>
  </head>
  <body style = {background-color:"#e8eef7"; text-align: "center;" margin:"10px;"}>
  <font size = "+4">Thank you!</font>
  <p> Your form has been submitted. </p>
  </body>
  
  
  